/* Defult styles reseting*/
::after,
body,
header,
aside,
main,
footer,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* Layout Styles*/
#root {
  display: grid;
  grid-template-areas:
    "header header header"
    "aside main main"
    "form form form"
    "footer footer footer";
  max-width: 960px;
  margin: 0 auto;
  align-items: center;
}
header {
  grid-column: header;
}
aside {
  grid-column: aside;
}
main {
  grid-column: main;
}
footer {
  grid-column: footer;
}
.add-appart-form {
  grid-column: form;
}
/* Background Color Styles*/
header img {
  max-width: 150px;
}
header {
  /* background-color: rgb(255, 250, 243); */
}
aside {
  /* background-color: aquamarine; */
  padding-top: 20px;
}
main {
  /* background-color: brown; */
  padding: 20px;
}
footer {
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
}

/* Nav: Menu */
header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid rgba(180, 180, 180, 0.281);
}
header h1 {
  position: absolute;
  left: -999px;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  background-color: rgb(135 110 89);
  padding: 10px 20px;
  margin-left: 1px;
  transition: all 0.3s ease;
}
nav ul li a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
nav ul li a:hover,
nav ul li:hover {
  color: rgb(255, 255, 255);
}
nav ul li:hover {
  background-color: rgb(194, 138, 35);
}

/* Sidebare */
aside ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
aside li {
  margin-bottom: 2px;
  padding: 20px 10px;
  border-bottom: 1px solid rgba(145, 145, 145, 0.329);
  font-weight: 600;
  text-align: right;
  transition: all 0.3s ease;
}
aside li:hover {
  margin-left: -20px;
  margin-right: 20px;
  background-color: rgb(100, 65, 34);
  color: white;
  border-radius: 20px 0px 0px 20px;
}

/* Main section*/
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
main article img {
  width: 100%;
}
.cards div {
  padding-bottom: 10px;
  background-color: rgb(236, 231, 215);
  border-radius: 10px;
  position: relative;
}
.card-body {
  padding: 20px;
  background-color: rgb(236, 231, 215);
}
main article div h3 {
  color: rgb(85, 69, 55);
}
main article div button {
  background-color: rgb(135 110 89);
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
}

main article div button:hover {
  background-color: rgb(148, 130, 115);
}
header div button {
  padding: 15px;
  color: white;
  background-color: rgb(194, 138, 35);
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin: 1px;
}

header div button:hover {
  background-color: rgb(165, 128, 59);
}
.cards ul {
  list-style-type: none;
  padding: 0;
}
.cards .fa-check {
  font-size: 10px;
  color: #449f44;
  padding-right: 5px;
}
.stars {
  color: rgb(233 151 0);
}
.price {
  position: absolute;
  top: -30px;
  right: 5px;
  background-color: rgb(255, 196, 0);
  padding: 2px 20px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}
.queen {
  position: absolute;
  top: -30px;
  left: 5px;
  background-color: rgb(197, 0, 0);
  padding: 2px 20px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}
.best-seller {
  background-color: rgb(124 155 118);
  border-radius: 0 10px 10px 0;
  position: absolute;
  padding: 2px 20px;
  top: -150px;
  color: white;
  left: 0px;
  font-size: 12px;
}
.costal {
  background-color: rgb(112 112 112);
  border-radius: 10px 0 0 10px;
  position: absolute;
  padding: 2px 20px;
  top: -150px;
  color: white;
  right: 0px;
  font-size: 12px;
}
header button:first-child {
  position: relative;
}
header button:first-child span {
  background-color: red;
  box-shadow: 2px 2px 2px rgba(83, 83, 83, 0.288);
  border: 1px solid rgba(255, 231, 231, 0.322);
  font-weight: 600;
  padding: 4px 6px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  left: -8px;
  animation: wiggle 1s infinite;
}

/* Popup Card*/
.popup-card {
  background-color: blanchedalmond;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 30px;
  border: 2px solid rgb(78, 78, 78);
  display: none;
}
.popup-content {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  border: 1px solid gray;
}
.popup-card img {
  max-width: 100px;
}
.popup-card h4 {
  grid-column: 3fr;
}

/* Pop Up Add form*/

.add-appart-form {
  background-color: rgb(124 124 124 / 78%);
  width: 100%;
  height: 100%;
}
.add-appart-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-appart-form ul {
  list-style-type: none;
}
.add-appart-form {
  border: rgba(50, 70, 95, 0.295) groove 1px;
  border-radius: 5px;
}

.add-appart-form button:hover {
  background-color: rgb(124, 105, 89);
}

.add-appart-form .close-button {
  font-size: 1.3rem;
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
}
.add-appart-form .close-button:hover {
  color: rgb(170, 12, 12);
}
.add-appart-form form {
  width: 400px;
  background: rgb(101 93 86);
  color: white;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
}
.add-appart-form input[type="text"] {
  width: 98%;
  height: 23px;
  border: none;
  border-radius: 5px;
}
.add-appart-form input,
textarea,
input[type="checkbox"] {
  background: #c9bdb2;
}

.add-appart-form textarea {
  width: 98%;
  height: 43px;
  border: none;
  border-radius: 5px;
}

/* Animation*/
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
header button:first-child span {
  animation: wiggle 1s infinite;
}

/* React Toggles*/

.notifation-avtive {
  display: normal;
}
.notifation-deactive {
  display: none;
}

.hide {
  display: block;
  opacity: 0;
  transition: opacity 1s ease;
  pointer-events: none;
}

.show {
  display: block;
  opacity: 1;
  transition: opacity 1s ease;
  pointer-events: auto;
}

/* Testing */

.next-prev {
  background-color: rgb(135 110 89);
  background-color: rgb(135 110 89);
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 5px;
  float: right;
  cursor: pointer;
}
.next-prev-inactive {
  padding: 10px 20px;
  margin-left: 5px;
  float: right;
  cursor: pointer;
  border: 1px solid rgb(124, 105, 89);
  background-color: rgb(107 94 83);
  border-radius: 5px;
  color: #8a7070;
  cursor: default;
}
.next-prev:hover {
  background-color: rgb(124, 105, 89);
}

.numbers {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.numbers > div {
  height: 40px;
  aspect-ratio: 1;
  background-color: #e7e7e7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: rgb(63, 53, 45);
}

.numbers .active {
  background-color: rgb(63, 53, 45);
  color: #fff;
}

.inactive-button {
  padding: 10px 20px;
  border: 1px solid rgb(124, 105, 89);
  background-color: rgb(107 94 83);
  border-radius: 5px;
  color: #8a7070;
  cursor: auto;
}

.active-button {
  padding: 10px 20px;
  border: 1px solid rgb(124, 105, 89);
  background-color: rgb(135 110 89);
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.image-upload {
  padding: 20px;
  width: 325px;
  text-align: center;
}
.image-upload {
  padding: 20px;
}

.errors {
  color: rgb(202, 184, 184);
}
