.container {
  display: flex; /* or inline-flex */
  align-items: center;
  flex-flow: wrap;
}

.divElment {
  color: black;
  width: 250px;
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
  margin: 5px;
  height: 40px;
}

.divElmentOdd {
  background: red;
}
